*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #afc3dd;
}

#appTodo{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 300px;
  background-color: black;
  height: 300px;
}
