<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/style.css">
    <title>To do List</title>
  </head>
  <body>

    <div id="appTodo">

      <img :src="logoImg" alt="Logo di boolean" class="as-center">

      <div id="all_container">

      <!-- Container delle task scritte dall'utente -->
        <div class="container">

          <div class="form">
            <input type="text" placeholder="Scrivi qui" v-model="newTodo" @keyup.13="addNew">
            <button type="button" name="button" @click="addNew">Add</button>
          </div>

          <h4>To do List</h4>
          <div class="list_container">

            <ul id="list" v-if="toDoList.length > 0">
              <li v-for="(toDo, index) in toDoList">
                <div class="inline-block">{{toDo}}</div>
                <i class="fas fa-check check" @click="taskDone(index)"></i>
                <i class="fas fa-trash-alt trash" @click="removeTask(index)"></i>
              </li>
            </ul>
            <div v-else id="empty_message">Non hai nulla da fare!</div>

          </div>

        </div>

        <!-- Container delle task completate -->

        <div class="container completed_tasks" >
          <div class="title">
            <h4>Tasks Completate</h4>
          </div>
          <ul>
            <li v-for="(checkedElement, posizione) in checkedList"><strong>{{posizione + 1}})</strong>{{checkedElement}}</li>
          </ul>
        </div>

        <!-- Container delle tasks cancellate -->

        <div class="container elements_in_trash">
          <div class="title">
            <h4>Cestino</h4>
          </div>
          <ul>

            <li v-for="(deletedElement, posizione) in deletedList">
              <div class="inline-block">{{deletedElement}}</div>
              <i class="fas fa-redo redo" @click="redoTasks(posizione)"></i>
            </li>

          </ul>
        </div>
        <button class="remove_all" @click="removeAll()">Svuota <br>Cestino</button>

      </div>
    </div>

  <!-- Script vueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- Script Javascript -->
  <script type="text/javascript" src="assets/js/main.js"></script>

  </body>
</html>
